*** *** *** *** *** *** *** *** *** *** 

*** Total access number: 17
*** SPE access number: 13
*** Instrumented SPE access number: 13
*** SPE size: 1
 
*** *** *** *** *** *** *** *** *** *** 
*** SPE name: 
*** "example.URLParse.url.INSTANCE"